* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-bar {
  background-color: black;
  width: 100%;
}
.loading-bar__item {
  width: 5%;
  height: 5px;
  background-color: red;
}
.buttons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
